backend/package-lock.json
backend/node_modules



# dependencies
frontend-react-app/node_modules
frontend-react-app/package-lock.json
frontend-react-app/.pnp
frontend-react-app/.pnp.js

# testing
frontend-react-app/coverage

# production
frontend-react-app/build

# misc
frontend-react-app/.DS_Store
frontend-react-app/.env.local
frontend-react-app/.env.development.local
frontend-react-app/.env.test.local
.frontend-react-app/env.production.local

frontend-react-app/npm-debug.log*
frontend-react-app/yarn-debug.log*
frontend-react-app/yarn-error.log*


solana-NFT-minter/node_modules
solana-NFT-minter/package-lock.json

